name: pypi

on: workflow_dispatch

jobs:
  upload:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pypa/build
      run: |
        python -m pip install build --user

    - name: Build a binary wheel and a source tarball
      run: |
        python -m build --sdist --wheel --outdir dist/ .

    - uses: pypa/gh-action-pypi-publish@master
      name: Upload to PyPI.
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
